<div class="absFull" id="shellInner">
	<div class="absFull" id="sections"></div>
	<div class="absFull" id="sectionCover"></div>
	<div id="openNavBtn" class="TL boxButton">
		<div class="border absFull"></div>
		<div class="inner absFull">
			<div class="row row1 TL"></div>
			<div class="row row2 TL"></div>
			<div class="row row3 TL"></div>
		</div>
	</div>
	<div class="fullH TL" id="frameLeftBar"></div>
	<div id="header" class="logoBlock">
		<a href="index.php" class="logoBtn"><img class="logoImg" src="images/logo.png" alt="<%= title %>"></a>
		<p id="releaseDate" class="logoDate font2"><span style="<%= date.styles.header %>"><%= date.label %></span></p>
	</div>
	<div id="sounds" class="TR">
		<i class="icon-volume_up" ></i>
		<i class="icon-volume_off" ></i>
	</div>
	<div class="BL" id="legalBtn"></div>
	<div class="clickGate absFull"></div>
</div>
