<section id="namegen" class="canScroll">
	<div class="absFull" id="nameBg"></div>
	<div id="transitionHolder" class="absFull"></div>
	<!-- <div id="transitionHolder" class="absFull"><img src="images/english-to-ninjago/english-to-ninjago_0000.png" /></div> -->
	<div id="keyboardHolder" class="sectionContent TL">
		<div id="englishKeyboard" class="keybrd">
			<div class="keybrdScrn" data-screen="ENTER YOUR NAME">ENTER YOUR NAME</div>
			<div class="keys">
				<div class="keyrow row1">
					<div class="key" data-key="1"></div>
					<div class="key" data-key="2"></div>
					<div class="key" data-key="3"></div>
					<div class="key" data-key="4"></div>
					<div class="key" data-key="5"></div>
					<div class="key" data-key="6"></div>
					<div class="key" data-key="7"></div>
					<div class="key" data-key="8"></div>
					<div class="key" data-key="9"></div>
					<div class="key" data-key="0"></div>
					<div class="key" data-key="BACKSPACE"></div>
				</div>
				<div class="keyrow row2">
					<div class="key" data-key="Q"></div>
					<div class="key" data-key="W"></div>
					<div class="key" data-key="E"></div>
					<div class="key" data-key="R"></div>
					<div class="key" data-key="T"></div>
					<div class="key" data-key="Y"></div>
					<div class="key" data-key="U"></div>
					<div class="key" data-key="I"></div>
					<div class="key" data-key="O"></div>
					<div class="key" data-key="P"></div>
				</div>
				<div class="keyrow row3">
					<div class="key" data-key="A"></div>
					<div class="key" data-key="S"></div>
					<div class="key" data-key="D"></div>
					<div class="key" data-key="F"></div>
					<div class="key" data-key="G"></div>
					<div class="key" data-key="H"></div>
					<div class="key" data-key="J"></div>
					<div class="key" data-key="K"></div>
					<div class="key" data-key="L"></div>
				</div>
				<div class="keyrow row4">
					<div class="key" data-key="Z"></div>
					<div class="key" data-key="X"></div>
					<div class="key" data-key="C"></div>
					<div class="key" data-key="V"></div>
					<div class="key" data-key="B"></div>
					<div class="key" data-key="N"></div>
					<div class="key" data-key="M"></div>
				</div>
				<div class="keyrow row5">
					<div class="key home" data-key="HOME"></div>
					<div class="key keyspace" data-key=" "></div>
					<div class="key go" data-key="GO"></div>
				</div>
			</div>
		</div>
		<div id="ninjagoKeyboard" class="keybrd hidden">
		<div class="keybrdScrn" data-screen="ENTER YOUR NAME">ENTER YOUR NAME</div>
		<div class="keys">
			<div class="keyrow row1">
				<div class="key" data-key="1"></div>
				<div class="key" data-key="2"></div>
				<div class="key" data-key="3"></div>
				<div class="key" data-key="4"></div>
				<div class="key" data-key="5"></div>
				<div class="key" data-key="6"></div>
				<div class="key" data-key="7"></div>
				<div class="key" data-key="8"></div>
				<div class="key" data-key="9"></div>
				<div class="key" data-key="0"></div>
				<div class="key" data-key="BACKSPACE"></div>
			</div>
			<div class="keyrow row2">
				<div class="key" data-key="Q"></div>
				<div class="key" data-key="W"></div>
				<div class="key" data-key="E"></div>
				<div class="key" data-key="R"></div>
				<div class="key" data-key="T"></div>
				<div class="key" data-key="Y"></div>
				<div class="key" data-key="U"></div>
				<div class="key" data-key="I"></div>
				<div class="key" data-key="O"></div>
				<div class="key" data-key="P"></div>
			</div>
			<div class="keyrow row3">
				<div class="key" data-key="A"></div>
				<div class="key" data-key="S"></div>
				<div class="key" data-key="D"></div>
				<div class="key" data-key="F"></div>
				<div class="key" data-key="G"></div>
				<div class="key" data-key="H"></div>
				<div class="key" data-key="J"></div>
				<div class="key" data-key="K"></div>
				<div class="key" data-key="L"></div>
			</div>
			<div class="keyrow row4">
				<div class="key" data-key="Z"></div>
				<div class="key" data-key="X"></div>
				<div class="key" data-key="C"></div>
				<div class="key" data-key="V"></div>
				<div class="key" data-key="B"></div>
				<div class="key" data-key="N"></div>
				<div class="key" data-key="M"></div>
			</div>
			<div class="keyrow row5">
				<div class="key home" data-key="HOME"></div>
				<div class="key keyspace" data-key=" "></div>
				<div class="key go" data-key="GO"></div>
			</div>
		</div>

		</div>
		<div id="tooltip" class="TR noSelect"></div>
		<div id="translateBtn" class="TR"></div>
		<div id="makeyourownCTA" class="T HC">
			<div id="makeClose" class="TR icon-close"></div>
			<div id="makeText" class="B HC fullW"></div>
		</div>
		<div id="namegenCTA" class="TL HC ctaBtn"></div>
	</div>
</section>
